@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Unicase', serif;
    color: white;
    font-weight: 400;
    width: 100%;
    min-height: 100vh;
    font-size: 24px;
    background-color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    font-family: 'Cormorant Unicase', serif;
    color: white;
    cursor: pointer;
}

input,
textarea,
button {
    appearance: none;
    border-radius: 0;
    border: none;
    font-family: 'Cormorant Unicase', serif;
    color: white;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Cormorant Unicase', serif;
    font-size: 18px;
}

input:focus {
    outline: none;
}

button {
    background-color: transparent;
    line-height: 125%;
    font-size: 18px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

textarea {
    resize: none;
}

::-webkit-scrollbar {
    display: none;
}

.content {
    position: absolute;
    width: 100%;
}

.bgImg {
    background: url(assets/images/CRBGv2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.header {
    width: 100%;
    position: relative;
    padding: 30px 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 42px;
    font-weight: 700;
    animation: fadeIn 0.5s;
}

.showSearchBtn {
    position: absolute;
    right: 30px;
    padding: 10px;
    height: 60px;
}

.showSearchBtn svg path {
    transition: fill 0.4s;
}

.showSearchBtn:hover svg path {
    fill: red;
}

.showSearchBtn.hide {
    display: none;
}

.backBtn {
    position: absolute;
    right: 30px;
    padding: 10px;
    height: 60px;
    display: none;
}

.backBtn svg path {
    transition: fill 0.4s;
}

.backBtn:hover svg path {
    fill: red;
}

.backBtn.show {
    display: block;
    animation: fadeIn 0.35s;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px 40px;
    gap: 30px;
}

.searchInput {
    display: none;
    font-size: 24px;
    padding: 7px 10px;
    width: 50vw;
    box-shadow: 0 0 15px 0px black;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.35);
}

.searchInput.show {
    display: block;
    animation: fadeIn 0.35s;
}

.searchInput::placeholder {
    color: white;
}

.searchBtn {
    height: 45px;
    width: 45px;
    background-color: transparent;
    border-left: 1px solid white;
}

.searchBtn svg path {
    transition: fill 0.4s;
}

.searchBtn:hover svg path {
    fill: red;
}

.seasonsListWrapper.hide {
    display: none;
}

.seasonsList {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
    animation: fadeIn 0.5s;
}

.seasonTab {
    background-color: rgba(0, 0, 0, 0.35);
    border: 1px solid white;
    border-radius: 10px;
    padding: 7px 10px;
    transition: color 0.4s;
    cursor: pointer;
    box-shadow: 0 0 15px 0px black;
    transition: border 0.2s, color 0.4s;
    width: 115px;
    text-align: center;
}

.seasonTab:hover {
    border: 1px solid red;
}

.seasonTab.activeTab {
    border: 1px solid red;
}

.seriesListWrapper.hide {
    display: none;
}

.seriesList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.episode {
    animation: fadeIn 0.5s;
}

.episodeLink {
    transition: color 0.4s;
}

.episodeLink:hover {
    color: red;
}

.searchResultsContainer {
    display: none;
}

.searchResultsContainer.show {
    display: block;
}